/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

* {
    box-sizing: border-box;
}
header {
    height: 350px;
    background-image: url("images/pattern-bg-desktop.png");
    background-size: cover;
    text-align: center;
}
.ipaddress-input {
    width: 500px;
    display: flex;
}
h1 {
    font-family: Rubik;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-container {
    height: 100px;
    position: absolute;
    background-color: white;
    width: 1220px;
}