* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    height: 350px;
    background-image: url("images/pattern-bg-desktop.png");
    background-size: cover;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding-top: 20px;
    padding-inline: 60px;
}
.ipaddress-input {
    width: 500px;
    display: flex;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-inline: auto;
    bottom: 250px;
}
input {
    width: 85%;
    padding-inline: 20px;
    font-family: rubik;
    font-size: 22px;
}
input:focus {
    outline: none;
    border: none;
}
input::placeholder {
    color:  hsl(0, 0%, 59%);
    font-size: 22px;
    font-family: rubik;
}
h1 {
    font-family: Rubik, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 0;
    font-weight: 600;
}
.display-container {
    height: 200px;
    width: 200px;
    top: 80px;
    background-color: white;
    width: 1220px;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 40px;
    gap: 20px;
    position: relative;
}
.display {
    width: 250px;
    border-left: 1px solid gray;
}
.icon-arrow svg {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 18px;
    height: 60px;
    font-size: 1.2rem;
}
.arrowBtn {
    width: 25%;
    bottom: 250px;
    background-color: black;
}
.pl-title {
    font-family: rubik;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
    width: 250px;
    display: flex;
    text-align: center;
}
.info {
    font-size: 1.5rem;
    font-family: Rubik;
    font-weight: 400;
    margin-top: 1rem;
}



