* {
    box-sizing: border-box;
}
body {
    margin: 0;
  
}
header {
    height: 350px;
    background-image: url("images/pattern-bg-desktop.png");
    background-size: cover;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding-top: 20px;
    padding-inline: 60px;
    z-index: 999;
  
}
.ipaddress-input {
    width: 700px;
    display: flex;
    height: 60px;
    border-radius: 18px;
    overflow: hidden;
    margin-inline: auto;
    bottom: 250px;
}
input {
    width: 85%;
    padding-inline: 20px;
    font-family: Rubik;
    font-size: 22px;
}
input::placeholder {
    color: hsl(0, 0%, 59%);
    font-size: 22px;
    font-family: Rubik;
}
h1 {
    font-family: Rubik, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 0;
    font-weight: 500;
}
.display-container {
    display: flex;
    width: auto;
    max-width: 620px;
    height: 150px;
    background-color: white;
    border-radius: 22px;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding-inline: 50px;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}
.display {
    width: auto;
    height: 75px;
    margin-bottom: 1rem;
    border-right: 1px solid gray;
}
.display-container .display:last-child {
    border-right: none;
    width: auto;
}
.icon-arrow svg {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    height: 60px;
    font-size: 1.2rem;
}
.arrowBtn {
    width: 10%;
    bottom: 250px;
    background-color: black;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}
.pl-title {
    font-family: Rubik;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
    width: 250px;
    margin-top: 0rem;
    font-size: 18px;
    text-align: right;
    display: flex;
}
.info {
    font-size: 2rem;
    font-family: Rubik;
    font-weight: 500;
    margin-right: 5rem;
    text-align: right;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#map {
    height: 80vh;
}

@media(max-width:1040px) {
    .ipaddress-input {
        max-width: 600px;
    }
    h1 {
        font-size: 2.4rem;
    }
    .display-container {
        height: 130px;
        padding-inline: 20px;
        flex-direction: column;
    }
    .pl-title {
        font-size: 14px;
    }
    .info {
        font-size: 1.5rem;
    }
}

@media(max-width:768px) {
    .display-container {
        max-width: 200px;
        padding: 20px;
        
    }
    .display-container .display:last-child {
        border-right: none;
        border-bottom: none;
    }
    .info {
        font-size: 1.7rem;
    }
    .ipaddress-input {
        max-width: 400px;
        height: 60px;
    }
    input {
        font-size: 16px;
    }
    input::placeholder {
        font-size: 16px;
    }
    @media(max-width:500px) {
        header {
        padding-inline: 20px;
    }
        h1 {
        font-size: 22px;
    }
}